In [1]:
from requests import get

In [2]:
url = 'https://www.imdb.com/search/title?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=1&ref_=adv_nxt'
response = get(url)

In [3]:
from bs4 import BeautifulSoup

In [4]:
html_soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
movie_containers = html_soup.find_all('div', class_='lister-item mode-advanced')

In [6]:
first_movie = movie_containers[0]

In [7]:
first_movie

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt3315342"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt3315342/?ref_=adv_li_i"> <img alt="Logan" class="loadlate" data-tconst="tt3315342" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB470041630_.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt3315342/?ref_=adv_li_tt">Logan</a>
<span class="lister-item-year text-muted unbold">(2017)</span>
</h3>
<p class="text-muted ">
<span class="certificate">R</span>
<span class="ghost">|</span>
<span class="runtime">137 min</span>
<span class="ghost">|</span>
<span class="genre">
Action, Drama, Sci-Fi            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="8.1" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>8.1</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt3315342" id="urv_tt3315342">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt3315342">
<div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt3315342|imdb|8.1|8.1|||advsearch|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 8.1/10 (542,353 votes) - click stars to rate">
<meta content="8.1" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="542353" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb " style="width: 113.4px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote&amp;ref_=tt_ov_rt" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating "><span class="value">8.1</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel "><a href="/title/tt3315342/vote?v=X;k=" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore favorable">77        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.</p>
<p class="">
    Director:
<a href="/name/nm0003506/?ref_=adv_li_dr_0">James Mangold</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0413168/?ref_=adv_li_st_0">Hugh Jackman</a>,
<a href="/name/nm0001772/?ref_=adv_li_st_1">Patrick Stewart</a>,
<a href="/name/nm6748436/?ref_=adv_li_st_2">Dafne Keen</a>,
<a href="/name/nm2933542/?ref_=adv_li_st_3">Boyd Holbrook</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="542353" name="nv">542,353</span>
<span class="ghost">|</span> <span class="text-muted">Gross:</span>
<span data-value="226,277,068" name="nv">$226.28M</span>
</p>
</div>
</div>

In [8]:
first_movie.h3

<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt3315342/?ref_=adv_li_tt">Logan</a>
<span class="lister-item-year text-muted unbold">(2017)</span>
</h3>

In [9]:
first_name = first_movie.h3.a.text
first_name

'Logan'

In [10]:
first_year = first_movie.h3.find('span', class_='lister-item-year text-muted unbold').text
first_year

'(2017)'

In [11]:
first_imdb = first_movie.strong.text
first_imdb

'8.1'

In [12]:
first_metascore = first_movie.find('span', class_='metascore favorable').text
first_metascore

'77        '

In [13]:
first_vote = first_movie.find('span', attrs={'name':'nv'}).text
first_vote

'542,353'

In [14]:
type(movie_containers[22].find('div', class_='ratings-metascore'))

NoneType

##### Script to scrape single pages

In [15]:
# Lists to store the scraped values
names = []
years = []
imdb_ratings = []
metascores = []
votes = []

In [16]:
#import numpy so that I can use np.nan for missing values such as for metascore
import numpy as np

#Loop to grab all the movies
for container in movie_containers:
    
    #Get the name of the movie and put it in the list created above
    name = container.h3.a.text
    names.append(name)
    
    #Get the year of the movie and put it in the list created above
    year = container.h3.find('span', class_='lister-item-year text-muted unbold').text
    years.append(year)
    
    #Get the IMDB rating of the movie and put it in the list created above
    imdb = container.strong.text
    imdb_ratings.append(imdb)
    
    #Get the metascore of the movie and put it in the list created above
    if container.find('span', class_='metascore favorable') is None:
        metascores.append(np.nan)
    else:
        metascore = container.find('span', class_='metascore favorable').text
        metascores.append(metascore)
    
    #Get the votes of the movie and put it in the list created above
    vote = container.find('span', attrs={'name':'nv'}).text
    votes.append(vote)

In [17]:
#put the data in a dataframe using pandas
import pandas as pd

df = pd.DataFrame({'movie': names,
             'year': years,
             'imdb': imdb_ratings,
             'metascore': metascores,
             'votes': votes})

In [18]:
#Check for missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
movie        50 non-null object
year         50 non-null object
imdb         50 non-null object
metascore    29 non-null object
votes        50 non-null object
dtypes: object(5)
memory usage: 2.0+ KB

In [19]:
#Making sure the content that I scripe is in english
headers = {"Accept-Language": "en-US, en;q=0.5"}

#### Script to scrape multiple pages
- Scrape first 4 pages of each years from 2000-2017

In [20]:
#There are the url to load first four pages of 2017 movies
#https://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&start=1&ref_=adv_nxt
#https://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&start=51&ref_=adv_nxt
#https://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&start=101&ref_=adv_nxt
#https://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&start=151&ref_=adv_nxt

#Generate appropriate values to load multiple pages
pages = [str(i) for i in range(1,201,50)]
years_url = [str(i) for i in range(2000,2018)]

In [21]:
#Let's control the scraping rate because many site will block get requests if they occure very often
#import sleep to make the script sleep for few seconds
from time import sleep

#import randint to generate random number
from random import randint

#import time to display the current time on the log
from time import time

#import clear_output to clear the output and only display the most recent one
from IPython.core.display import clear_output

#import warn to display a warn if something goes bad right away to make debugging little easier 
from warnings import warn
warn("My Warning Simulation")

C:\Users\Miraj-PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: UserWarning: My Warning Simulation
  app.launch_new_instance()

In [22]:
#creating a log
start_time = time()
requests = 0

for _ in range(5):
    # An request would go here
    requests += 1
    sleep(randint(1,3))
    current_time = time()
    elapsed_time = current_time - start_time
    print('Request: {}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
    clear_output(wait = True)

Request: 5; Frequency: 0.45373675547644043 requests/s

## Finale version with multiple pages

In [23]:
# Lists to store the scraped values
names = []
years = []
imdb_ratings = []
metascores = []
votes = []

#creating a log
start_time = time()
requests = 0

#for every year 
for year_url in years_url:
    
    #for every page
    for page in pages:
        
        #Make a get request to get the data
        response = get('http://www.imdb.com/search/title?release_date=' + year_url + '&sort=num_votes,desc&start=' + page + '&ref_=adv_nxt', headers = headers)
        
        #Pause the loop for random seconds
        sleep(randint(8,15))
        
        #Monitor the requests
        requests += 1
        elapsed_time = time() - start_time
        print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
        clear_output(wait = True)
        
        #Display a warning with status code if there is one
        if response.status_code != 200:
            warn('Request: {}; Status code: {}'.format(requests, response.status_code))
            
        #Also break the loop if the number of requests is greater than expected
        if requests > 72:
            warn('Number of requests was greater than expected.')  
            break
        
        # Parse the scrape data with BeautifulSoup
        page_html = BeautifulSoup(response.text, 'html.parser')
        
        # Put all the 50 movie containers from a single page in a variable
        movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
        
        #Loop to grab all the movies
        for container in movie_containers:
    
            #Get the name of the movie and put it in the list created above
            name = container.h3.a.text
            names.append(name)
    
            #Get the year of the movie and put it in the list created above
            year = container.h3.find('span', class_='lister-item-year text-muted unbold').text
            years.append(year)
    
            #Get the IMDB rating of the movie and put it in the list created above
            imdb = container.strong.text
            imdb_ratings.append(imdb)
    
            #Get the metascore of the movie and put it in the list created above
            if container.find('span', class_='metascore favorable') is None:
                metascores.append(np.nan)
            else:
                metascore = container.find('span', class_='metascore favorable').text
                metascores.append(metascore)
    
            #Get the votes of the movie and put it in the list created above
            vote = container.find('span', attrs={'name':'nv'}).text
            votes.append(vote)

Request:72; Frequency: 0.07843085263313483 requests/s

In [27]:
#Import pandas
import pandas as pd

movie_ratings = pd.DataFrame({'movie': names,
                             'year': years,
                             'imdb': imdb_ratings,
                             'metascore': metascores,
                             'votes': votes})

                 movie    year imdb   metascore      votes
0            Gladiator  (2000)  8.5  67          1,193,758
1              Memento  (2000)  8.5  80          1,018,306
2               Snatch  (2000)  8.3         NaN    709,602
3  Requiem for a Dream  (2000)  8.3  68            691,199
4                X-Men  (2000)  7.4  64            528,872

In [29]:
#I did not clean the dataset while web scraping because I want to practice data cleaning. 
movie_ratings.head()

                 movie    year imdb   metascore      votes
0            Gladiator  (2000)  8.5  67          1,193,758
1              Memento  (2000)  8.5  80          1,018,306
2               Snatch  (2000)  8.3         NaN    709,602
3  Requiem for a Dream  (2000)  8.3  68            691,199
4                X-Men  (2000)  7.4  64            528,872

In [32]:
#lets export the data, so that we can save it on our local computer for later use.
movie_ratings.to_csv('movies.csv', index=False)

In [33]:
#Lets load the same dataset.
pd.read_csv('movies.csv')

                               movie          year  imdb  metascore      votes
0                          Gladiator        (2000)   8.5       67.0  1,193,758
1                            Memento        (2000)   8.5       80.0  1,018,306
2                             Snatch        (2000)   8.3        NaN    709,602
3                Requiem for a Dream        (2000)   8.3       68.0    691,199
4                              X-Men        (2000)   7.4       64.0    528,872
5                          Cast Away        (2000)   7.8       73.0    467,254
6                    American Psycho        (2000)   7.6       64.0    424,568
7                        Unbreakable        (2000)   7.3       62.0    339,706
8                   Meet the Parents        (2000)   7.0       73.0    291,017
9             Mission: Impossible II        (2000)   6.1        NaN    287,769
10        O Brother, Where Art Thou?        (2000)   7.8       69.0    262,150
11                Gone in 60 Seconds        (2000)   6.5        NaN    244,008
12    Crouching Tiger, Hidden Dragon        (2000)   7.9       93.0    238,297
13                       The Patriot        (2000)   7.2       63.0    235,387
14                     Almost Famous        (2000)   7.9       90.0    233,162
15                       Scary Movie        (2000)   6.2        NaN    212,823
16                       Pitch Black        (2000)   7.1        NaN    212,705
17                 Final Destination        (2000)   6.7        NaN    208,876
18                Me, Myself & Irene        (2000)   6.6        NaN    208,210
19                         The Beach    (I) (2000)   6.6        NaN    206,121
20                     Amores Perros        (2000)   8.1       83.0    205,212
21                           Traffic        (2000)   7.6       86.0    185,206
22               Remember the Titans        (2000)   7.8        NaN    182,914
23    How the Grinch Stole Christmas        (2000)   6.1        NaN    181,864
24                   What Women Want        (2000)   6.4        NaN    179,184
25                          Chocolat        (2000)   7.3       64.0    167,192
26                 Miss Congeniality        (2000)   6.2        NaN    167,152
27                       Chicken Run        (2000)   7.0       88.0    162,114
28                  Charlie's Angels        (2000)   5.5        NaN    161,717
29                     Battle Royale        (2000)   7.7       81.0    158,027
...                              ...           ...   ...        ...        ...
3570                      The Gifted      (2017– )   7.5        NaN     26,207
3571                           Cargo    (I) (2017)   6.3       65.0     25,893
3572       Ayla: The Daughter of War        (2017)   8.7        NaN     25,819
3573          Everything, Everything        (2017)   6.4        NaN     25,672
3574                       The Shack    (I) (2017)   6.3        NaN     25,258
3575                    Black Mirror      (2011– )   7.3        NaN     25,111
3576                         Revenge   (II) (2017)   6.3       81.0     25,014
3577                       Sleepless  (III) (2017)   5.6        NaN     24,988
3578                    Black Mirror      (2011– )   8.7        NaN     24,839
3579                Victoria & Abdul        (2017)   6.8        NaN     24,230
3580                   The Discovery    (I) (2017)   6.3        NaN     24,040
3581                   Thoroughbreds        (2017)   6.7       75.0     23,646
3582                    Black Mirror      (2011– )   6.7        NaN     23,001
3583           Roman J. Israel, Esq.        (2017)   6.4        NaN     22,708
3584                 What the Health        (2017)   7.7        NaN     22,686
3585                        Loveless        (2017)   7.7       86.0     22,653
3586                        Unlocked    (I) (2017)   6.2        NaN     22,564
3587                   I Kill Giants        (2017)   6.2       74.0     22,557
3588                     Castlevania      (2017– )   8.1        NaN     22,457
3589                        Sherlock      (2010– )   9.2        NaN     22,436
3590                The Glass Castle        (2017)   7.2        NaN     22,368
3591                        Table 19        (2017)   5.8        NaN     22,313
3592          The Ottoman Lieutenant        (2017)   6.7        NaN     22,285
3593                   Ghost Stories    (I) (2017)   6.4       68.0     22,061
3594                          Kaabil        (2017)   7.1        NaN     21,946
3595                   Young Sheldon      (2017– )   7.2        NaN     21,927
3596                      Home Again        (2017)   5.8        NaN     21,884
3597                 American Vandal   (2017–2018)   8.2        NaN     21,773
3598                          Mersal        (2017)   8.0        NaN     21,728
3599                        Sherlock      (2010– )   8.3        NaN     21,709

[3600 rows x 5 columns]

##### Perfect! I will clean the dataset and perform data exploratory in the as a next project.